body{
    margin: 0px;
    padding: 0px;
}
header{
    padding: 10px;
    min-width: 98%;
    height: 50px;
    background-color: #AAB99A;
    color: white;
    font-size: 40px;
    padding: none;
    margin: None;
    justify-content: center;
    font-weight: 700;
}