[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2025.1.31"
pymongo = "*"
flask = "*"
flask-pymongo = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
python-dotenv = "*"
pillow = "*"
wtforms = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
