@font-face {
    font-family: 'Logo'; /*a name to be used later*/
    src: url('../static/font/YangBagus-DYMX9.ttf'); /*URL to font*/
}

body{
    padding: 0;
    margin: 0;
    background-image: url('../static/images/bg-index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.backHome{
    font-family: 'Logo';
    font-size: 2vw;
    color:white !important;
}

.postTwo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

#header{
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color:white;
}

hr{
    position: relative;
    top: -33px;
    z-index: 10;
}

.center{
    text-align: center;
    justify-content: center;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:visited{
    color:black;
    text-decoration: none !important;
}

a:link{
    text-decoration: none;
}

#photoText{
    text-align: center;
    font-size: 20px;
}

#uploadIcon{
    height: 80px;
    width: 80px;
    margin: auto;
}

#formPhoto{
    background-color: #fdfdfd;
    margin:auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px dashed #6F826A;
    width: 400px;
    height: 200px;
    padding: 20px;

}

.formatting{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin:auto;
    height: 500px;
    width: 80%;
    border: 2px solid #D5E5D5;
    border-radius: 20px;
    background-color: rgba(165, 182, 141, 0.8);
    margin-top: 50px;
    font-size: 18px;
    color:white;
    padding: 20px;
}


input[type="file"]::file-selector-button {
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#machineStats{
    display: flex;
    margin:auto;
    height: 100px;
    width: 430px;
    flex-direction: column;
    font-size: 18px;
    margin-left: 10px;
    justify-content:space-around;
    border-radius: 20px;
    border: solid 2px rgb(19, 63, 37);
    background-color: #6F826A;
    color: white;
}

.partOne{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
.machineLabel{
    padding: 0;
    margin:0;
    padding-left: 10px;
}

#issues{
    margin: auto;
    width: 420px;
    padding-top: 10px;
}

#species_guess{
    margin-top: 2px;
    height: 20px;
    width: 420px;
    border: 2px solid #727D73;
}

#rate{
    padding-top: 15px;
    margin:auto;
    width: 420px;
}

input[type="number"]{
    height: 20px;
}

#descriptionDiv{
    padding-top: 15px;
    width: 420px;
    margin: auto;
}

#description{
    padding-top: 16px;
    width:420px;
    height: 150px;
    font-size: 18px;
    border: 2px solid #727D73; 
    border-radius: 15px;
    font-family: "Times new Roman";
    padding: 10px;
}

#locationBtn{
    width: 160px;
    height: 50px;
    font-size: 16px;
    border: 1px solid black;
    background-color: #ffdc40;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 280px;
    margin-top: 65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#location-map{
    height: 400px;
    margin: 40px;
    border-radius: 15px;
    border: 3px solid #727D73;
}

#submit{
    width: 210px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 100px;
    font-size: 18px;
    background-color: #ffdc40;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
