<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Sightings</title>
  <link rel="stylesheet" href="../../static/list.css">
  <script>
    window.onload = function () {
      const url = new URL(window.location.href);
      const hasLat = url.searchParams.get("user_lat");
      const hasLng = url.searchParams.get("user_lng");

      if (!hasLat || !hasLng) {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function (position) {
              const lat = position.coords.latitude;
              const lng = position.coords.longitude;
              url.searchParams.set("user_lat", lat);
              url.searchParams.set("user_lng", lng);
              window.location.href = url.toString();
            },
            function () {
              console.warn("User denied location");
            }
          );
        }
      }
    };
  </script>
</head>

<body>
  <header>
    <p class = "Logo"><a href="{{ url_for('main.home') }}">Genghis Pond</a></p>
    <h2>Wildlife Sightings</h2>
  </header>
  <hr>

  <div class = "container">
    <form method="get" action="{{ url_for('sightings.list_view') }}">
      <input
        type="text"
        name="species"
        placeholder="Search by species..."
        value="{{ request.args.get('species', '') }}"
      >
      <button type="submit">Search</button>
    </form>
  {% for sighting in sightings %}
    <div class = "sighting">
      <a href="{{ url_for('sightings.view_sighting', sighting_id=sighting.id) }}">
        {% if sighting.image_file %}
          {% if sighting.image_file.startswith('http') %}
            <img class="animalImg" src="{{ sighting.image_file }}" alt="Sighting Image">
          {% else %}
            <img class="animalImg" src="{{ url_for('static', filename='uploads/' + sighting.image_file) }}" alt="Sighting Image">
          {% endif %}
        {% endif %}
        <div class = "info">
        <p class = "upperCase spacing">{{ sighting.species }}</p>
        <p class = "spacing">Posted: {{ sighting.date_posted.strftime("%d %B, %Y") }}</p>

        {% if request.args.user_lat and request.args.user_lng %}
          {% set lat = request.args.user_lat|float %}
          {% set lng = request.args.user_lng|float %}
          {% set dist = sighting.get_distance(lat, lng) %}
          {% if dist is not none %}
            <p class = "spacing">Distance from you:<br> {{ dist|round(2) }} km</p>
          {% endif %}
        {% endif %}
        </div>
      </a><br>
    </div>
  {% endfor %}
  <div class = "bottomPad"></div>
  </div>

</body>
</html>
