<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/register.css">
</head>
<body>

    <div class="loginbox"> 
        <form method="POST" action="{{ url_for('auth.register') }}">

            <a href="{{ url_for('main.home') }}">
                <div class="back">Back</div>
            </a>
            <div class="loginSubTitle">
                Sign Up
            </div>

            <div class="info">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username.label(class_="formTitle") }}<br>
                    {{ form.username (class_="ourClasses")}}<br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div>
                    {{ form.email.label(class_="formTitle") }}<br>
                    {{ form.email (class_="ourClasses")}}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password.label(class_="formTitle") }}<br>
                    {{ form.password (class_="ourClasses")}}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div>
                    {{ form.confirm_password.label(class_="formTitle") }}<br>
                    {{ form.confirm_password (class_="ourClasses")}}<br>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div>
                    {{ form.submit (class_="submit")}}
                </div>
            </div>
        </form>
    </div>
</body>
</html>
