<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

    <p>
  <a href="{{ url_for('main.home') }}">← Back to Home</a>
    </p>

    <h1>About Name of App</h1>

    <h2>Our Mission</h2>
    <p>
        We uhh like animals
    </p>

    <h2>Good things our app does</h2>
    <ul>
        <li>Tracks biodiversity</li>
        <li>Observe migration patterns and population changes</li>
        <li>Helps document rare or endangered species!</li>
    </ul>

    <h2>Ethics</h2>
    <p>
        Locations of critically endangered species will be censored to protect them
        Be respectful of all wildlife — no disturbing or approaching animals!
    </p>
</body>
</html>
