<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>App Name</h1>
    <p>Report and discover wildlife sightings in your area!</p>

    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('main.about') }}">About This Project</a>
    <a href="{{ url_for('auth.register') }}">Sign Up</a>
    <a href="{{ url_for('auth.login') }}">Login</a>
  {% else %}
    <a href="{{ url_for('main.about') }}">About This Project</a>
    <a href="{{ url_for('user.account') }}">My Profile</a>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  {% endif %}


    <hr>
    <ul>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.register') }}">Join the Community</a>
            <p><a href="{{ url_for('sightings.list_view') }}">Browse Sightings</a></p>
            <p><a href="{{ url_for('sightings.map_view') }}">Explore the Map</a></p>
        {% else %}
            <p><a href="{{ url_for('sightings.list_view') }}">Browse Sightings</a></p>
            <p><a href="{{ url_for('sightings.map_view') }}">Explore the Map</a></p>
            <p><a href="{{ url_for('sightings.create_sighting') }}">Report a Sighting</a></p>
        {% endif %}
    </ul>
</body>
</html>
