<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/index.css">

    </script>
</head>
<body>

   <!--{% if not current_user.is_authenticated %}--> 
    <div class="header">
        <div class="title">
            Genghis Pond
        </div>
        <a href="{{ url_for('main.about') }}">
            <div class="about">
                About Us
            </div>
        </a>
        <a href="{{ url_for('auth.register') }}">
            <div class="signup">
                Join the Community
            </div>
        </a>
        <a href="{{ url_for('auth.login') }}">
            <div class="login">
                Login
            </div>
        </a>
    </div>
<!--
  {% else %}
  <div class="header">
    <div class="title">
        Genghis Pond
    </div>
    <a href="{{ url_for('main.about') }}">
        <div class="about">
            About Us
        </div>
    </a>
    <a href="{{ url_for('user.account') }}">
        <div class="signup">
            My Profile
        </div>
    </a>
    <a href="{{ url_for('auth.logout') }}">
        <div class="login">
            Log Out
        </div>
    </a>
   </div>
  {% endif %}

-->
<hr>
<div class="subtitle">
    Discover Wildlife
</div>

<div class="subtext">
    Discover something new today! Upload and report any wildlife sightings to find out what it might be
</div>

{% if not current_user.is_authenticated %}
    <div class="extra">
        <a href="{{ url_for('sightings.list_view') }}">
            <div class="sightings">
                Sightings
            </div>
        </a>    
        <a href="{{ url_for('sightings.map_view') }}">
            <div class="map">
                View Map
            </div>
        </a>
        <a href="{{ url_for('auth.register') }}">
            <div class="upload">
                Join Us
            </div>
        </a>
    </div>
{% else %}
    <div class="extra">
        <a href="{{ url_for('sightings.list_view') }}">
            <div class="sightings">
                Sightings
            </div>
        </a>    
        <a href="{{ url_for('sightings.map_view') }}">
            <div class="map">
                View Map
            </div>
        </a>
        <a href="{{ url_for('sightings.create_sighting') }}">
            <div class="upload">
                Upload
            </div>
        </a>
    </div>
{% endif %}
</body>
</html>
